*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/.idea
gradle
.idea/
/app/src/main/res/values-land/dimens.xml
/app/src/main/res/values-w600dp/dimens.xml
/app/src/main/res/values-w1240dp/dimens.xml
/app/src/main/res/values-v23/themes.xml
